<style>
    body{
        background-image: url(https://i.pinimg.com/736x/24/6d/15/246d150a3eb68c91cfedbbd928f5f00f.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        /* -o--moz-background-size: */
    }

    body {
        background-image: url('imgs/spaceBackground.jpg');
    }

    #carrotRocket {
        background-image: url('imgs/carrotRocket.svg');
    }

    #meat {
        background-image: url('imgs/meat.svg');
    }

    #apple {
        background-image: url('imgs/apple.svg');
    }

    #cheese {
        background-image: url('imgs/cheese.svg');
    }

    #veggie {
        background-image: url('imgs/broccoli.svg');
    }
    #bread {
        background-image: url('imgs/bread.svg');
    }
    #candy {
        background-image: url('imgs/candy.svg');
    }

    .button {
        background-color: transparent;
        border: none;
         background-size: cover;
        width: 200px;
        height: 200px;
        font-size: 2rem;
        color: white;
        font-weight: 600;
    }

    button:hover {
        /* Start the shake animation and make the animation last for 0.5 seconds */
        animation: wiggle 4s;
      
        /* When the animation is finished, start again */
        animation-iteration-count: infinite;
      }
      
      @keyframes wiggle {
        0% { transform: translate(0px,  0px); }
        50%  { transform: translate(0px, 25px); }
        100%   { transform: translate(0px, -0px); }  

      }

</style>
